<h1>This is Main#xxx</h1>
<p>Find me in app/views/main/xxx.html.erb</p>

<p>huwu uwu uwu yayayay</p>

<br/>
<%= 1 + 5%>

<br/>
the result is <%= @result%>

<br/>
<%= (1..10).to_a %>

<br/>


The current date is <%= Date.today %>
The current time is <%= Time.zone.now %>
<br/>
